@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .hero-gradient{
    background: rgb(76,76,201);
background: linear-gradient(169deg, rgba(76,76,201,1) 0%, rgba(229,229,255,0) 43%);
  }


  #stripes{
    width:100%;
    height: 25%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: -webkit-linear-gradient(300deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    
    }
    
    #stripes, #stripes span{
      position: absolute;
    }
    
    #stripes span{
      height: 40px;
    }
    
    #stripes :nth-child(1){
      width: 50%;
      left: 50%;
      top:40px;
      background:#4c29ff;
    }
    
    #stripes :nth-child(2){
      width: 14%;
      right: 0;
      bottom:40px;
      background: #2be7ff;
    }
    
    #stripes :nth-child(3){
      width: 25%;
      bottom: 0;
      right: 0;
      background: #a1ffc8;
    }
    
    @media (min-width:670px){
      #stripes span{
        height:150px;
      }
      #stripes :nth-child(1){
        top: 0;
      }
      #stripes :nth-child(2){
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff;
      }
      #stripes :nth-child(3){
        width: 33.33333%;
        right: auto;
        background: #11bdff;
      }
    }
    
    @media (min-width: 880px){
      #stripes span{
        height: 190px;
      }
    
      #stripes :nth-child(1){
        width: 33.33333%;
        left: -16.66666%;
        background: #53f;
      }
    
      #stripes :nth-child(2){
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff;
      }
    
      #stripes :nth-child(3){
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff;
      }
    
      #stripes :nth-child(4){
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5;
      }
    
      #stripes :nth-child(5){
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff;
      }
    }


